## Extraer datos mediante la API de inmobiliaria

Pagina donde se hizo el webscraping: https://www.argenprop.com/ 

Paises admitidos: Argentina, Chile, Uruguay, Brasil(1propiedad)

In [3]:
#Librerias
import requests
import numpy as np
import pandas as pd
from geopy.geocoders import Nominatim
from datetime import datetime
import pytz
from unidecode import unidecode
import re

## 1. Creamos la conexión con la API para extraer los datos

In [4]:
%%time

#url = 'http://reffindr-alb-1167121448.us-east-1.elb.amazonaws.com:4155/argenprop'
url = 'https://i004-reffindr-back-python-dev.onrender.com/argenprop'

# Parámetros de la solicitud
params = {'pais': 'argentina', 'limite': 300}
response = requests.get(url, params=params)
print(response.status_code)

200
CPU times: total: 46.9 ms
Wall time: 5min 16s

In [7]:
data = response.json()

In [8]:
df = pd.DataFrame(data)
df

,Bathrooms,Bedrooms,CountryName,Description,Environments,Latitude,Longitude,Price,Seniority,StateName,Title,img
0,2,3,Argentina,"Casa en Barrio Privado Camino Real, cuenta con...",4,"-34,48684","-58,58234",USD 2.300,27,Buenos Aires,Av. Camino Real Morón San Fernando 1500,[https://static1.sosiva451.com/08910661/ea4bac...
1,2,3,Argentina,Alquilo amplio Duplex en Florencio varela comb...,4,"-34,79154","-58,27525",$ 490.000,10,Buenos Aires,Combate De San Lorenzo 1700,[https://static1.sosiva451.com/28339561/8cca67...
2,2,4,Argentina,DUEÑO ALQUILA\r\n\n •SIN EXPENSAS\r\n •SIN GAS...,5,0.0,0.0,USD 1.100,15,Buenos Aires,casa en lujan con pileta alquiler anual,[https://static1.sosiva451.com/09149461/6abd53...
3,2,4,Argentina,Imponente casa de estilo en la esquina de Alve...,5,"-32,94819","-60,66076",$ 2.300.000,90,Santa Fe,Mendoza 2300,[https://static1.sosiva451.com/22799461/e73d3f...
4,5,5,Argentina,Exclusiva Casa en Alquiler en Puertos del Lago...,7,"-34,318497","-58,742558",USD 7.500,0,Buenos Aires,Puertos del Lago Barrio Marinas Escobar Alquiler,[https://static1.sosiva451.com/48236461/e64ab1...
...,...,...,...,...,...,...,...,...,...,...,...,...
295,4,5,Argentina,Dueño directo \n Deportiva I- L146\n\n Barrio...,6,"-37,0089","-56,80412",USD 6.500,1,Buenos Aires,Costa Esmeralda-deportivo I,[https://static1.sosiva451.com/62641321/178b35...
296,5,None,Argentina,EDIFICIO MONTEVIDEO 359\r\n Nueva Cordoba\r\n\...,None,"-31,420574","-64,191246",$ 2.000.000,0,Cordoba,Montevideo 300,[https://static1.sosiva451.com/98857951/d3b8d0...
297,3,3,Argentina,Alquiler. \n Semipiso de 4 ambientes en edific...,4,"-34,48799","-58,49957",USD 1.600,0,Buenos Aires,Vicente Fidel López 100,[https://static1.sosiva451.com/26151061/71045e...
298,5,3,Argentina,Hermosa y amplia Casa desarrollada en dos plan...,4,"-34,36595","-58,7351",USD 1.350,6,Buenos Aires,La Pista 100,[https://static1.sosiva451.com/26798261/62d8a1...
299,3,4,Argentina,Exclente casa a estrenar en alquiler temporar...,5,"-34,36042","-58,75144",USD 2.500,0,Buenos Aires,Barrio San Matias.,[https://static1.sosiva451.com/27609361/3fa3ba...

## 1.1 Creación de Tabla de States

In [9]:
data_states = {
    1: "Buenos Aires",
    2: "Catamarca",
    3: "Chaco",
    4: "Chubut",
    5: "Córdoba",
    6: "Corrientes",
    7: "Entre Ríos",
    8: "Formosa",
    9: "Jujuy",
    10: "La Pampa",
    11: "La Rioja",
    12: "Mendoza",
    13: "Misiones",
    14: "Neuquén",
    15: "Río Negro",
    16: "Salta",
    17: "San Juan",
    18: "San Luis",
    19: "Santa Cruz",
    20: "Santa Fe",
    21: "Santiago del Estero",
    22: "Tierra del Fuego",
    23: "Tucumán",
    24: "Ciudad Autónoma de Buenos Aires",
}

# Crear un DataFrame con los estados
States = pd.DataFrame(data_states.items(), columns=["Id", "StateName"])

In [10]:
States

    Id                        StateName
0    1                     Buenos Aires
1    2                        Catamarca
2    3                            Chaco
3    4                           Chubut
4    5                          Córdoba
5    6                       Corrientes
6    7                       Entre Ríos
7    8                          Formosa
8    9                            Jujuy
9   10                         La Pampa
10  11                         La Rioja
11  12                          Mendoza
12  13                         Misiones
13  14                          Neuquén
14  15                        Río Negro
15  16                            Salta
16  17                         San Juan
17  18                         San Luis
18  19                       Santa Cruz
19  20                         Santa Fe
20  21              Santiago del Estero
21  22                 Tierra del Fuego
22  23                          Tucumán
23  24  Ciudad Autónoma de Buenos Aires

## 2. Transformación de datos

### 2.0 Transformación Tabla de datos de Propietarios

Copia del df original

In [ ]:
df_properties = df.copy()

Función para convertir la columna Price en moneda de pesos argentinos

In [ ]:
def convert_to_ars(price):
    exchange_rate = 1011.61 
    price = str(price)
    if 'USD' in price:
        price_numeric = float(price.replace('USD', '').replace('.', '').replace(',', '.').strip())
        return price_numeric * exchange_rate
    elif '$' in price:
        price_numeric = float(price.replace('$', '').replace('.', '').replace(',', '.').strip())
        return price_numeric
    else:
        return None

In [ ]:
df_properties['Price'] = df_properties['Price'].apply(convert_to_ars)

Arreglo de string de latitud y longitud

In [ ]:
# Reemplazar comas por puntos solo en las columnas Latitude y Longitude
df_properties['Latitude'] = df_properties['Latitude'].apply(lambda x: str(x).replace(',', '.') if isinstance(x, str) else str(x))
df_properties['Longitude'] = df_properties['Longitude'].apply(lambda x: str(x).replace(',', '.') if isinstance(x, str) else str(x))

# Convertir las columnas a float
df_properties['Latitude'] = pd.to_numeric(df_properties['Latitude'], errors='coerce')
df_properties['Longitude'] = pd.to_numeric(df_properties['Longitude'], errors='coerce')

Eliminando filas que contienen valores en blanco (' ')

In [ ]:
string_columns = df_properties.select_dtypes(include=['object', 'string'])
rows_with_spaces = string_columns.apply(lambda col: col.str.strip() == '', axis=0).any(axis=1)
df_properties = df_properties[~rows_with_spaces].reset_index(drop=True)

In [ ]:
df_properties.isnull().sum()

Bathrooms       29
Bedrooms        22
CountryName      0
Description      0
Environments    33
Latitude         0
Longitude        0
Price           10
Seniority        0
StateName        0
Title            0
img              0
dtype: int64

Eliminando filas con valores nulos

In [ ]:
df_properties = df_properties.dropna().reset_index(drop=True)

In [ ]:
df_properties.isnull().sum()

Bathrooms       0
Bedrooms        0
CountryName     0
Description     0
Environments    0
Latitude        0
Longitude       0
Price           0
Seniority       0
StateName       0
Title           0
img             0
dtype: int64

Función para obtener dirección en base a latitud y longitud

In [ ]:
geolocator = Nominatim(user_agent="geoapi_exercises")

# Función para obtener la dirección
def obtener_direccion(lat, lon):
    if lat == 0.0 and lon == 0.0:
        return None 
    try:
        location = geolocator.reverse((lat, lon))
        return location.address if location else None
    except Exception as e:
        return f"Error: {e}"

In [ ]:
df_properties['Address'] = df_properties.apply(lambda x: obtener_direccion(x['Latitude'], x['Longitude']), axis=1)

In [ ]:
df_properties.dropna(inplace=True) 
df_properties.reset_index(drop=True, inplace=True)

In [ ]:
states_list = states["StateName"].tolist()

# Función para extraer las últimas 4 partes de la dirección
def extract_relevant_address(address):
    # Dividir la dirección por comas
    parts = address.split(", ")
    # Tomar las últimas 4 partes
    return ", ".join(parts[-4:])

# Función para extraer el estado
def extract_state(relevant_address, states_list):
    for state in states_list:
        if re.search(rf'\b{re.escape(state)}\b', relevant_address):
            return state
    return None

# Aplicar las funciones al DataFrame
df_properties["StateName"] = df_properties["Address"].apply(extract_relevant_address)
df_properties["StateName"] = df_properties["StateName"].apply(lambda x: extract_state(x, states_list))

Obtener numero de calle y/o direccion

In [ ]:
df_properties['Address'] = df_properties['Address'].apply(lambda x: ', '.join(x.split(', ')[:3]))

df_properties = df_properties.drop(columns=['Latitude', 'Longitude']) # elimino las columnas latitud y longitud

In [ ]:
df_properties.isnull().sum()

Bathrooms       0
Bedrooms        0
CountryName     0
Description     0
Environments    0
Price           0
Seniority       0
StateName       0
Title           0
img             0
Address         0
dtype: int64

In [ ]:
df_properties.dropna(inplace=True) 
df_properties.reset_index(drop=True, inplace=True)

Eliminando propiedades que no tienen imagen

In [ ]:
df_properties['img'] = df_properties['img'].astype(str)
df_properties.drop(df_properties[df_properties['img'] == '[]'].index, inplace=True)

In [ ]:
df_properties.reset_index(drop=True, inplace=True)

Eliminando titulo sin sentido

In [ ]:
df_properties.drop(df_properties[df_properties['Title'].str.contains('U\$', na=False)].index, inplace=True)

Seleccionando 200 registros aleatoriamente

In [ ]:
df_prop = df_properties.sample(n=200, random_state=100).reset_index(drop=True)

In [ ]:
df_prop.insert(0, 'Id', range(1, len(df_prop) + 1))

Agregando columnas faltantes

In [ ]:
columnas = [
    "Water", "Gas", "Surveillance", "Electricity", "Internet", 
    "Pool", "Garage", "Pets", "Grill", "Elevator", "Terrace",
    "IsHistoric", "IsWorking", "HasWarranty", "RangeSalary"
]

# Agregar columnas con valores específicos
for column in columnas:
    if column in ["Water", "Gas", "Electricity"]:
        df_prop[column] = True  # Estas columnas son siempre True
    elif column in ["Surveillance", "Pets", "Pool"]:
        df_prop[column] = np.random.choice([True, False], size=len(df_prop))
    elif column == "RangeSalary":
        # Genero los salarios con distribución sesgada a la izquierda
        salary_range = np.random.triangular(left=400000, mode=900000, right=3000000, size=len(df_prop))
        salary_range = salary_range.astype(int)  # Asegurarnos de que sean números enteros
        df_prop[column] = salary_range
    else:
        df_prop[column] = np.random.choice([True, False], size=len(df_prop), p=[0.8, 0.2]) # sesgo para que haya mas true que false

In [ ]:
df_prop.loc[:, 'CreatedAt'] = datetime.now(pytz.UTC)
df_prop['UpdatedAt'] = pd.Series([None] * len(df_prop), dtype="datetime64[ns]")
df_prop['IsDeleted'] = False

Ordenando columnas

In [ ]:
orden_columns = [
    "Id","img","IsWorking", "HasWarranty", "RangeSalary", "CountryName", "StateName", "Title", "Address", "Price", "Environments", 
    "Bathrooms", "Bedrooms", "Seniority", "Water", "Gas", "Surveillance", "Electricity", "Internet", "Pool", 
    "Garage", "Pets", "Grill", "Elevator", "Terrace", "IsHistoric", "Description", "CreatedAt", "UpdatedAt",
    "IsDeleted"
]

df_prop = df_prop[orden_columns]

Rangos Salariales

In [ ]:
ranges = [
    (300000, 600000),
    (600000, 1000000),
    (1000000, 3000000),
    (3000000, float("inf"))
]

# Función para asignar el rango
def assign_salary_range(salary):
    for i, (low, high) in enumerate(ranges, start=1):
        if low <= salary < high:
            return i
    return None

In [ ]:
df_prop["RangeSalary"] = df_prop["RangeSalary"].apply(assign_salary_range)

In [ ]:
df_prop.rename(columns={'RangeSalary': 'SalaryId'}, inplace=True)

Cambiando a int las columnas Environments, Bathrooms, Bedrooms, Seniority

In [ ]:
df_prop[['Environments', 'Bathrooms', 'Bedrooms', 'Seniority']] = df_prop[['Environments', 'Bathrooms', 'Bedrooms', 'Seniority']].astype('int64')

In [ ]:
df_prop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 30 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            200 non-null    int64
 1   img           200 non-null    object
 2   IsWorking     200 non-null    bool
 3   HasWarranty   200 non-null    bool
 4   SalaryId      200 non-null    int64
 5   CountryName   200 non-null    object
 6   StateName     200 non-null    object
 7   Title         200 non-null    object
 8   Address       200 non-null    object
 9   Price         200 non-null    float64
 10  Environments  200 non-null    int64
 11  Bathrooms     200 non-null    int64
 12  Bedrooms      200 non-null    int64
 13  Seniority     200 non-null    int64
 14  Water         200 non-null    bool
 15  Gas           200 non-null    bool
 16  Surveillance  200 non-null    bool
 17  Electricity   200 non-null    bool
 18  Internet      200 non-null    bool
 19  Pool          200 non-null    bool
 20  Garage        200 non-null    bool
 21  Pets          200 non-null    bool
 22  Grill         200 non-null    bool
 23  Elevator      200 non-null    bool
 24  Terrace       200 non-null    bool
 25  IsHistoric    200 non-null    bool
 26  Description   200 non-null    object
 27  CreatedAt     200 non-null    datetime64[us, UTC]
 28  UpdatedAt     0 non-null      datetime64[ns]
 29  IsDeleted     200 non-null    bool
dtypes: bool(15), datetime64[ns](1), datetime64[us, UTC](1), float64(1), int64(6), object(6)
memory usage: 26.5+ KB

In [ ]:
df_prop

,Id,img,IsWorking,HasWarranty,SalaryId,CountryName,StateName,Title,Address,Price,...,Garage,Pets,Grill,Elevator,Terrace,IsHistoric,Description,CreatedAt,UpdatedAt,IsDeleted
0,1,['https://static1.sosiva451.com/55412161/f9e15...,True,True,3,Argentina,Buenos Aires,Tiscornia 1000,"1043, Avenida Tiscornia, La Calabria",2529025.0,...,True,True,True,True,True,True,"Muy buena En pleno bajo de San Isidro, sobre ...",2024-12-07 04:23:14.435484+00:00,NaT,False
1,2,['https://static1.sosiva451.com/31652661/f130e...,False,True,3,Argentina,Buenos Aires,De Vicenzo Grande La Esperanza 2300,"Golf Club Villa Adelina, Manuel Alberti, Parti...",780000.0,...,True,False,True,True,False,True,"Ubicada en la zona de De Vicenzo Grande, esta ...",2024-12-07 04:23:14.435484+00:00,NaT,False
2,3,['https://static1.sosiva451.com/09087751/dc11e...,True,False,3,Argentina,Buenos Aires,Los Cardales Country Club al 100,"Ruta 4, Alto Los Cardales, Partido de Campana",910449.0,...,True,False,True,False,False,False,Casa en una plata con vista a Golf.\n living c...,2024-12-07 04:23:14.435484+00:00,NaT,False
3,4,['https://static1.sosiva451.com/42174661/7c7e6...,True,True,3,Argentina,Buenos Aires,ESPAÑA 3900,"3968, España, Loma de Roca",1350000.0,...,False,True,False,True,True,True,"Alquiler de Casa en Olivos, Vicente López\n V...",2024-12-07 04:23:14.435484+00:00,NaT,False
4,5,['https://static1.sosiva451.com/91888461/b04bf...,True,True,3,Argentina,Buenos Aires,St. Matthews Village,"Barrio Saint Matthew's Village, La Lonja, Part...",2225542.0,...,False,False,True,True,True,True,Alquiler de Casa 5 AMBIENTES en St. Mathew´s V...,2024-12-07 04:23:14.435484+00:00,NaT,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,['https://static1.sosiva451.com/01961661/ba760...,False,True,3,Argentina,Buenos Aires,Manuel Quintana 900,"938, Manuel Quintana, Quilmes Este",600000.0,...,False,False,False,True,True,False,En esta oportunidad presentamos esta casa 3 am...,2024-12-07 04:23:14.435484+00:00,NaT,False
196,197,['https://static1.sosiva451.com/87382461/f69b4...,True,False,3,Argentina,Buenos Aires,Haras María Victoria,"Barrio El Aromo, Loma Verde, Partido de Escobar",313599100.0,...,True,True,True,True,True,True,Casa en venta en Haras María Victoria.\n Actua...,2024-12-07 04:23:14.435484+00:00,NaT,False
197,198,['https://static1.sosiva451.com/66551161/d6828...,True,True,3,Argentina,Buenos Aires,San Nicolás 200,"3612, Bogotá, Floresta",1300000.0,...,False,True,False,True,True,True,SOLAMENTE PARA FINES COMERCIALES o DEPOSITO.-\...,2024-12-07 04:23:14.435484+00:00,NaT,False
198,199,['https://static1.sosiva451.com/00842661/3f046...,False,False,3,Argentina,Buenos Aires,Domingo Savio 2880/2,"Domingo Savio, Lomas de San Isidro, San Isidro",1600000.0,...,True,True,True,False,True,True,Excelente ubicación: 2 cuadras de Segundo Fern...,2024-12-07 04:23:14.435484+00:00,NaT,False
199,200,['https://static1.sosiva451.com/49791661/ee3b2...,False,True,2,Argentina,Buenos Aires,Almafuerte 3900,"Country Banco Provincia, Francisco Álvarez, Pa...",1315093.0,...,True,True,True,True,True,True,"[VERONICAM-114]\n\n Hermana casa colonial, muy...",2024-12-07 04:23:14.435484+00:00,NaT,False

### 2.1 Transformación Tabla de datos de Usuarios

Leyendo datos fictios creados por IA

In [ ]:
csv_path = 'Data_ficticia\\Users_Ficticios_IA.csv'
df_users = pd.read_csv(csv_path, delimiter=';')

Seleccionando 400 usuarios aleatoriamente

In [ ]:
df_users = df_users.sample(n=400, random_state=5).reset_index(drop=True)

Transformación de datos

In [ ]:
# Función para quitar los dos últimos elementos
def remove_last_two_parts(address):
    parts = address.split(', ')  # Dividir por la coma y el espacio
    return ', '.join(parts[:-2])  # Reunir todas las partes excepto las dos últimas

# Aplicar la función a la columna 'Address'
df_users['Address'] = df_users['Address'].apply(remove_last_two_parts)

Creando columnas faltantes

In [ ]:
df_users.insert(0, 'Id', range(1, len(df_users) + 1))
df_users.insert(1, 'RoleName', ['Tenant' if i % 2 == 0 else 'Owner' for i in range(len(df_users))])
df_users.insert(2, 'CountryName', 'Argentina')
df_users.insert(4, 'IsCompany', df_users['RoleName'].apply(lambda x: 'False' if x == 'Owner' else ''))
df_users.insert(13, 'IsProfileComplete', 'True')
df_users.insert(15, 'CreatedAt', datetime.now(pytz.UTC))
df_users.insert(16, 'UpdatedAt', pd.Series([None] * len(df_users), dtype="datetime64[ns]"))
df_users.insert(17, 'IsDeleted', False)

Enumerando las filas tanto para Owner y Tenant

In [ ]:
df_users.insert(4, 'UserOwnerInfoId', pd.Series([None] * len(df_users), dtype="Int64"))
df_users.insert(5, 'UserTenantInfoId', pd.Series([None] * len(df_users), dtype="Int64"))

owner_counter = 1
tenant_counter = 1

for index, row in df_users.iterrows():
    if row['RoleName'] == 'Owner':
        df_users.at[index, 'UserOwnerInfoId'] = owner_counter
        owner_counter += 1
    elif row['RoleName'] == 'Tenant':
        df_users.at[index, 'UserTenantInfoId'] = tenant_counter
        tenant_counter += 1

In [ ]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 400 non-null    int64
 1   RoleName           400 non-null    object
 2   CountryName        400 non-null    object
 3   StateName          400 non-null    object
 4   UserOwnerInfoId    200 non-null    Int64
 5   UserTenantInfoId   200 non-null    Int64
 6   IsCompany          400 non-null    object
 7   Name               400 non-null    object
 8   LastName           400 non-null    object
 9   Dni                400 non-null    int64
 10  Phone              400 non-null    object
 11  Address            400 non-null    object
 12  BirthDate          400 non-null    object
 13  Email              400 non-null    object
 14  Password           400 non-null    object
 15  IsProfileComplete  400 non-null    object
 16  GenreName          400 non-null    object
 17  CreatedAt          400 non-null    datetime64[us, UTC]
 18  UpdatedAt          0 non-null      datetime64[ns]
 19  IsDeleted          400 non-null    bool
dtypes: Int64(2), bool(1), datetime64[ns](1), datetime64[us, UTC](1), int64(2), object(13)
memory usage: 60.7+ KB

In [ ]:
df_users

,Id,RoleName,CountryName,StateName,UserOwnerInfoId,UserTenantInfoId,IsCompany,Name,LastName,Dni,Phone,Address,BirthDate,Email,Password,IsProfileComplete,GenreName,CreatedAt,UpdatedAt,IsDeleted
0,1,Tenant,Argentina,San Juan,<NA>,1,,Trinidad,Farre,92309378,+54 9 11-5516-2964,Acceso Nydia Gimenez 975,3/04/1971,trinidad.farre@gmail.com,@Farre03,True,Female,2024-12-07 04:28:17.001324+00:00,NaT,False
1,2,Owner,Argentina,Salta,1,<NA>,False,Victorino,Valentin,19496248,+54 9 21-5986-6054,Camino del Libertador 1304,20/05/1999,victorino.valentin@gmail.com,<Valentin20,True,Male,2024-12-07 04:28:17.001324+00:00,NaT,False
2,3,Tenant,Argentina,Jujuy,<NA>,2,,Rosenda,Barreda,12697037,+54 9 21-5297-7790,Pasaje de Emperatriz Ribes 56,20/01/1980,rosenda.barreda@gmail.com,@Barreda20,True,Female,2024-12-07 04:28:17.001324+00:00,NaT,False
3,4,Owner,Argentina,Salta,2,<NA>,False,Panfilo,Vergara,57455334,+54 9 21-4995-5021,Alameda de Heliodoro Hurtado 317,29/07/1952,panfilo.vergara@gmail.com,@Vergara29,True,Male,2024-12-07 04:28:17.001324+00:00,NaT,False
4,5,Tenant,Argentina,Corrientes,<NA>,3,,Lucia,Arrieta,16391990,+54 9 11-4236-3158,Ronda de Quirino Suarez 3476,8/09/1953,lucia.arrieta@gmail.com,]Arrieta08,True,Female,2024-12-07 04:28:17.001324+00:00,NaT,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,Owner,Argentina,Córdoba,198,<NA>,False,Pablo,Balaguer,64223341,+54 9 12-4995-3708,Calle Rivadavia 456,11/07/1974,pablo.balaguer@gmail.com,^Balaguer11,True,Male,2024-12-07 04:28:17.001324+00:00,NaT,False
396,397,Tenant,Argentina,Jujuy,<NA>,199,,David,Haro,34314725,+54 9 18-6704-7051,Boulevard Juan Perón 4826,24/08/1974,david.haro@gmail.com,)Haro24,True,Male,2024-12-07 04:28:17.001324+00:00,NaT,False
397,398,Owner,Argentina,Córdoba,199,<NA>,False,Zaira,Coloma,34874997,+54 9 17-6453-8194,Calle Rivadavia 456,20/08/1987,zaira.coloma@gmail.com,!Coloma20,True,Female,2024-12-07 04:28:17.001324+00:00,NaT,False
398,399,Tenant,Argentina,Santa Cruz,<NA>,200,,Juan Antonio,Palmer,55627846,+54 9 22-6995-7719,Camino del Libertador 346,20/07/1955,juanantonio.palmer@gmail.com,.Palmer20,True,Male,2024-12-07 04:28:17.001324+00:00,NaT,False
399,400,Owner,Argentina,Misiones,200,<NA>,False,Bernardita,Lozano,59361446,+54 9 23-4527-9456,Camino del Libertador 2964,27/05/1996,bernardita.lozano@gmail.com,>Lozano27,True,Female,2024-12-07 04:28:17.001324+00:00,NaT,False

### 2.2 Tabla de datos de UsersOwnersInfo

In [ ]:
filtered_UserOwner = df_users[df_users['RoleName'] == 'Owner']

df_UserOwnerInfo = filtered_UserOwner[['IsCompany', 'Id', 'CreatedAt', 'UpdatedAt', 'IsDeleted']].reset_index(drop=True)
UsersOwnersInfo = df_UserOwnerInfo.rename(columns={'Id': 'UserId'})

In [ ]:
UsersOwnersInfo.insert(0, 'Id', range(1, len(df_UserOwnerInfo) + 1))

In [ ]:
UsersOwnersInfo['IsCompany'] = UsersOwnersInfo['IsCompany'].astype(bool)

In [ ]:
UsersOwnersInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         200 non-null    int64
 1   IsCompany  200 non-null    bool
 2   UserId     200 non-null    int64
 3   CreatedAt  200 non-null    datetime64[us, UTC]
 4   UpdatedAt  0 non-null      datetime64[ns]
 5   IsDeleted  200 non-null    bool
dtypes: bool(2), datetime64[ns](1), datetime64[us, UTC](1), int64(2)
memory usage: 6.8 KB

In [ ]:
UsersOwnersInfo

,Id,IsCompany,UserId,CreatedAt,UpdatedAt,IsDeleted
0,1,True,2,2024-12-07 04:28:17.001324+00:00,NaT,False
1,2,True,4,2024-12-07 04:28:17.001324+00:00,NaT,False
2,3,True,6,2024-12-07 04:28:17.001324+00:00,NaT,False
3,4,True,8,2024-12-07 04:28:17.001324+00:00,NaT,False
4,5,True,10,2024-12-07 04:28:17.001324+00:00,NaT,False
...,...,...,...,...,...,...
195,196,True,392,2024-12-07 04:28:17.001324+00:00,NaT,False
196,197,True,394,2024-12-07 04:28:17.001324+00:00,NaT,False
197,198,True,396,2024-12-07 04:28:17.001324+00:00,NaT,False
198,199,True,398,2024-12-07 04:28:17.001324+00:00,NaT,False
199,200,True,400,2024-12-07 04:28:17.001324+00:00,NaT,False

### 2.3 Tabla de datos de UsersTenantsInfo

In [ ]:
filtered_UserTenants = df_users[df_users['RoleName'] == 'Tenant']

df_UserTenantInfo = filtered_UserTenants[['Id', 'CreatedAt', 'UpdatedAt', 'IsDeleted']]
df_UserTenantInfo = df_UserTenantInfo.rename(columns={'Id': 'UserId'})

In [ ]:
df_UserTenantInfo.insert(0, 'Id', range(1, len(df_UserTenantInfo) + 1))

In [ ]:
df_UserTenantInfo = pd.merge(df_UserTenantInfo, df_prop[['Id', 'IsWorking', 'HasWarranty', 'SalaryId']], on='Id', how='inner')

In [ ]:
UsersTenantsInfo = df_UserTenantInfo[['Id', 'IsWorking', 'HasWarranty', 'SalaryId', 'UserId', 'CreatedAt', 'UpdatedAt', 'IsDeleted']]

In [ ]:
UsersTenantsInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           200 non-null    int64
 1   IsWorking    200 non-null    bool
 2   HasWarranty  200 non-null    bool
 3   SalaryId     200 non-null    int64
 4   UserId       200 non-null    int64
 5   CreatedAt    200 non-null    datetime64[us, UTC]
 6   UpdatedAt    0 non-null      datetime64[ns]
 7   IsDeleted    200 non-null    bool
dtypes: bool(3), datetime64[ns](1), datetime64[us, UTC](1), int64(3)
memory usage: 8.5 KB

In [ ]:
UsersTenantsInfo

,Id,IsWorking,HasWarranty,SalaryId,UserId,CreatedAt,UpdatedAt,IsDeleted
0,1,True,True,3,1,2024-12-07 04:28:17.001324+00:00,NaT,False
1,2,False,True,3,3,2024-12-07 04:28:17.001324+00:00,NaT,False
2,3,True,False,3,5,2024-12-07 04:28:17.001324+00:00,NaT,False
3,4,True,True,3,7,2024-12-07 04:28:17.001324+00:00,NaT,False
4,5,True,True,3,9,2024-12-07 04:28:17.001324+00:00,NaT,False
...,...,...,...,...,...,...,...,...
195,196,False,True,3,391,2024-12-07 04:28:17.001324+00:00,NaT,False
196,197,True,False,3,393,2024-12-07 04:28:17.001324+00:00,NaT,False
197,198,True,True,3,395,2024-12-07 04:28:17.001324+00:00,NaT,False
198,199,False,False,3,397,2024-12-07 04:28:17.001324+00:00,NaT,False
199,200,False,True,2,399,2024-12-07 04:28:17.001324+00:00,NaT,False

### 2.4 Tabla de datos de Roles

Creación de la tabla Roles

In [ ]:
data_roles = [
    {"Id": 1, "RoleName": "Tenant"},
    {"Id": 2, "RoleName": "Owner"}
]
Roles = pd.DataFrame(data_roles)

In [ ]:
Roles.loc[:, 'CreatedAt'] = datetime.now(pytz.UTC)
Roles['UpdatedAt'] = pd.Series([None] * len(Roles), dtype="datetime64[ns]")
Roles['IsDeleted'] = False

In [ ]:
Roles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         2 non-null      int64
 1   RoleName   2 non-null      object
 2   CreatedAt  2 non-null      datetime64[us, UTC]
 3   UpdatedAt  0 non-null      datetime64[ns]
 4   IsDeleted  2 non-null      bool
dtypes: bool(1), datetime64[ns](1), datetime64[us, UTC](1), int64(1), object(1)
memory usage: 194.0+ bytes

In [ ]:
Roles

   Id RoleName                        CreatedAt UpdatedAt  IsDeleted
0   1   Tenant 2024-12-07 04:29:33.142849+00:00       NaT      False
1   2    Owner 2024-12-07 04:29:33.142849+00:00       NaT      False

### 2.5 Tabla de datos de Countries

Creación de la tabla Countries

In [ ]:
data_country = [
    {"Id": 1, "CountryName": "Argentina"}
]
Countries = pd.DataFrame(data_country)

In [ ]:
Countries.loc[:, 'CreatedAt'] = datetime.now(pytz.UTC)
Countries['UpdatedAt'] = pd.Series([None] * len(Countries), dtype="datetime64[ns]")
Countries['IsDeleted'] = False

In [ ]:
Countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           1 non-null      int64
 1   CountryName  1 non-null      object
 2   CreatedAt    1 non-null      datetime64[us, UTC]
 3   UpdatedAt    0 non-null      datetime64[ns]
 4   IsDeleted    1 non-null      bool
dtypes: bool(1), datetime64[ns](1), datetime64[us, UTC](1), int64(1), object(1)
memory usage: 161.0+ bytes

In [ ]:
Countries

   Id CountryName                        CreatedAt UpdatedAt  IsDeleted
0   1   Argentina 2024-12-07 04:30:06.787214+00:00       NaT      False

### 2.6 Tabla de datos de States

Creación de la tabla States

In [ ]:
States['CountryId'] = 1
States.loc[:, 'CreatedAt'] = datetime.now(pytz.UTC)
States['UpdatedAt'] = pd.Series([None] * len(States), dtype="datetime64[ns]")
States['IsDeleted'] = False

In [ ]:
States.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         24 non-null     int64
 1   StateName  24 non-null     object
 2   CountryId  24 non-null     int64
 3   CreatedAt  24 non-null     datetime64[us, UTC]
 4   UpdatedAt  0 non-null      datetime64[ns]
 5   IsDeleted  24 non-null     bool
dtypes: bool(1), datetime64[ns](1), datetime64[us, UTC](1), int64(2), object(1)
memory usage: 1.1+ KB

In [ ]:
States

,Id,StateName,CountryId,CreatedAt,UpdatedAt,IsDeleted
0,1,Buenos Aires,1,2024-12-07 04:30:20.321481+00:00,NaT,False
1,2,Catamarca,1,2024-12-07 04:30:20.321481+00:00,NaT,False
2,3,Chaco,1,2024-12-07 04:30:20.321481+00:00,NaT,False
3,4,Chubut,1,2024-12-07 04:30:20.321481+00:00,NaT,False
4,5,Córdoba,1,2024-12-07 04:30:20.321481+00:00,NaT,False
5,6,Corrientes,1,2024-12-07 04:30:20.321481+00:00,NaT,False
6,7,Entre Ríos,1,2024-12-07 04:30:20.321481+00:00,NaT,False
7,8,Formosa,1,2024-12-07 04:30:20.321481+00:00,NaT,False
8,9,Jujuy,1,2024-12-07 04:30:20.321481+00:00,NaT,False
9,10,La Pampa,1,2024-12-07 04:30:20.321481+00:00,NaT,False
10,11,La Rioja,1,2024-12-07 04:30:20.321481+00:00,NaT,False
11,12,Mendoza,1,2024-12-07 04:30:20.321481+00:00,NaT,False
12,13,Misiones,1,2024-12-07 04:30:20.321481+00:00,NaT,False
13,14,Neuquén,1,2024-12-07 04:30:20.321481+00:00,NaT,False
14,15,Río Negro,1,2024-12-07 04:30:20.321481+00:00,NaT,False
15,16,Salta,1,2024-12-07 04:30:20.321481+00:00,NaT,False
16,17,San Juan,1,2024-12-07 04:30:20.321481+00:00,NaT,False
17,18,San Luis,1,2024-12-07 04:30:20.321481+00:00,NaT,False
18,19,Santa Cruz,1,2024-12-07 04:30:20.321481+00:00,NaT,False
19,20,Santa Fe,1,2024-12-07 04:30:20.321481+00:00,NaT,False
20,21,Santiago del Estero,1,2024-12-07 04:30:20.321481+00:00,NaT,False
21,22,Tierra del Fuego,1,2024-12-07 04:30:20.321481+00:00,NaT,False
22,23,Tucumán,1,2024-12-07 04:30:20.321481+00:00,NaT,False
23,24,Ciudad Autónoma de Buenos Aires,1,2024-12-07 04:30:20.321481+00:00,NaT,False

### 2.7 Tabla de datos de Genres

Creación de la tabla Genres

In [ ]:
data_genres = {
    1: "Male",
    2: "Female",
    3: "Non-binary",
    4: "Gender fluid",
    5: "Agender",
    6: "Bigender",
    7: "Demiboy",
    8: "DemiGirl"
}

Genres = pd.DataFrame(data_genres.items(), columns=["Id", "GenreName"])

In [ ]:
Genres.loc[:, 'CreatedAt'] = datetime.now(pytz.UTC)
Genres['UpdatedAt'] = pd.Series([None] * len(Genres), dtype="datetime64[ns]")
Genres['IsDeleted'] = False

In [ ]:
Genres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         8 non-null      int64
 1   GenreName  8 non-null      object
 2   CreatedAt  8 non-null      datetime64[us, UTC]
 3   UpdatedAt  0 non-null      datetime64[ns]
 4   IsDeleted  8 non-null      bool
dtypes: bool(1), datetime64[ns](1), datetime64[us, UTC](1), int64(1), object(1)
memory usage: 392.0+ bytes

In [ ]:
Genres

   Id     GenreName                        CreatedAt UpdatedAt  IsDeleted
0   1          Male 2024-12-07 04:30:37.644397+00:00       NaT      False
1   2        Female 2024-12-07 04:30:37.644397+00:00       NaT      False
2   3    Non-binary 2024-12-07 04:30:37.644397+00:00       NaT      False
3   4  Gender fluid 2024-12-07 04:30:37.644397+00:00       NaT      False
4   5       Agender 2024-12-07 04:30:37.644397+00:00       NaT      False
5   6      Bigender 2024-12-07 04:30:37.644397+00:00       NaT      False
6   7       Demiboy 2024-12-07 04:30:37.644397+00:00       NaT      False
7   8      DemiGirl 2024-12-07 04:30:37.644397+00:00       NaT      False

### 2.8 Tabla de datos de Users

Creación de la tabla Users

Transformación de valores de las columnas RoleName,CountryName basada en relación

In [ ]:
Users = df_users.copy()

In [ ]:
Users["RoleName"] = Users["RoleName"].map(Roles.set_index("RoleName")["Id"])
Users["CountryName"] = Users["CountryName"].map(Countries.set_index("CountryName")["Id"])
Users["StateName"] = Users["StateName"].map(States.set_index("StateName")["Id"])
Users["GenreName"] = Users["GenreName"].map(Genres.set_index("GenreName")["Id"])

In [ ]:
Users.rename(columns={'RoleName':'RoleId', 'CountryName':'CountryId', 
                                 'StateName':'StateId', 'GenreName':'GenreId' }, inplace=True)

In [ ]:
Users.drop(["IsCompany"], axis=1, inplace=True)

In [ ]:
Users['BirthDate'] = pd.to_datetime(Users['BirthDate'], format='%d/%m/%Y', errors='coerce')
Users['IsProfileComplete'] = Users['IsProfileComplete'].astype(bool)
Users['Dni'] = Users['Dni'].astype(str)

Función para hashear contraseñas

In [ ]:
Users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 400 non-null    int64
 1   RoleId             400 non-null    int64
 2   CountryId          400 non-null    int64
 3   StateId            400 non-null    int64
 4   UserOwnerInfoId    200 non-null    Int64
 5   UserTenantInfoId   200 non-null    Int64
 6   Name               400 non-null    object
 7   LastName           400 non-null    object
 8   Dni                400 non-null    object
 9   Phone              400 non-null    object
 10  Address            400 non-null    object
 11  BirthDate          400 non-null    datetime64[ns]
 12  Email              400 non-null    object
 13  Password           400 non-null    object
 14  IsProfileComplete  400 non-null    bool
 15  GenreId            400 non-null    int64
 16  CreatedAt          400 non-null    datetime64[us, UTC]
 17  UpdatedAt          0 non-null      datetime64[ns]
 18  IsDeleted          400 non-null    bool
dtypes: Int64(2), bool(2), datetime64[ns](2), datetime64[us, UTC](1), int64(5), object(7)
memory usage: 54.8+ KB

In [ ]:
Users

,Id,RoleId,CountryId,StateId,UserOwnerInfoId,UserTenantInfoId,Name,LastName,Dni,Phone,Address,BirthDate,Email,Password,IsProfileComplete,GenreId,CreatedAt,UpdatedAt,IsDeleted
0,1,1,1,17,<NA>,1,Trinidad,Farre,92309378,+54 9 11-5516-2964,Acceso Nydia Gimenez 975,1971-04-03,trinidad.farre@gmail.com,@Farre03,True,2,2024-12-07 04:28:17.001324+00:00,NaT,False
1,2,2,1,16,1,<NA>,Victorino,Valentin,19496248,+54 9 21-5986-6054,Camino del Libertador 1304,1999-05-20,victorino.valentin@gmail.com,<Valentin20,True,1,2024-12-07 04:28:17.001324+00:00,NaT,False
2,3,1,1,9,<NA>,2,Rosenda,Barreda,12697037,+54 9 21-5297-7790,Pasaje de Emperatriz Ribes 56,1980-01-20,rosenda.barreda@gmail.com,@Barreda20,True,2,2024-12-07 04:28:17.001324+00:00,NaT,False
3,4,2,1,16,2,<NA>,Panfilo,Vergara,57455334,+54 9 21-4995-5021,Alameda de Heliodoro Hurtado 317,1952-07-29,panfilo.vergara@gmail.com,@Vergara29,True,1,2024-12-07 04:28:17.001324+00:00,NaT,False
4,5,1,1,6,<NA>,3,Lucia,Arrieta,16391990,+54 9 11-4236-3158,Ronda de Quirino Suarez 3476,1953-09-08,lucia.arrieta@gmail.com,]Arrieta08,True,2,2024-12-07 04:28:17.001324+00:00,NaT,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,2,1,5,198,<NA>,Pablo,Balaguer,64223341,+54 9 12-4995-3708,Calle Rivadavia 456,1974-07-11,pablo.balaguer@gmail.com,^Balaguer11,True,1,2024-12-07 04:28:17.001324+00:00,NaT,False
396,397,1,1,9,<NA>,199,David,Haro,34314725,+54 9 18-6704-7051,Boulevard Juan Perón 4826,1974-08-24,david.haro@gmail.com,)Haro24,True,1,2024-12-07 04:28:17.001324+00:00,NaT,False
397,398,2,1,5,199,<NA>,Zaira,Coloma,34874997,+54 9 17-6453-8194,Calle Rivadavia 456,1987-08-20,zaira.coloma@gmail.com,!Coloma20,True,2,2024-12-07 04:28:17.001324+00:00,NaT,False
398,399,1,1,19,<NA>,200,Juan Antonio,Palmer,55627846,+54 9 22-6995-7719,Camino del Libertador 346,1955-07-20,juanantonio.palmer@gmail.com,.Palmer20,True,1,2024-12-07 04:28:17.001324+00:00,NaT,False
399,400,2,1,13,200,<NA>,Bernardita,Lozano,59361446,+54 9 23-4527-9456,Camino del Libertador 2964,1996-05-27,bernardita.lozano@gmail.com,>Lozano27,True,2,2024-12-07 04:28:17.001324+00:00,NaT,False

### 2.9 Tabla de datos de Images

In [ ]:
df_images = df_prop[['Id', 'img', 'CreatedAt', 'UpdatedAt', 'IsDeleted']]

In [ ]:
df_images = df_images.rename(columns={'Id': 'PropertyId', 'img': 'ImageUrl'})

In [ ]:
df_images.insert(0, 'Id', range(1, len(df_images) + 1))
df_images.insert(2, 'UserId', pd.Series([None] * len(df_images), dtype="Int64"))

In [ ]:
Images = df_images.copy()

Cambiando Img a tipo lista

In [ ]:
Images['ImageUrl'] = Images['ImageUrl'].apply(
    lambda x: eval(x) if isinstance(x, str) and x.startswith('[') else x
)

In [ ]:
Images.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id          200 non-null    int64
 1   PropertyId  200 non-null    int64
 2   UserId      0 non-null      Int64
 3   ImageUrl    200 non-null    object
 4   CreatedAt   200 non-null    datetime64[us, UTC]
 5   UpdatedAt   0 non-null      datetime64[ns]
 6   IsDeleted   200 non-null    bool
dtypes: Int64(1), bool(1), datetime64[ns](1), datetime64[us, UTC](1), int64(2), object(1)
memory usage: 9.9+ KB

In [ ]:
Images

,Id,PropertyId,UserId,ImageUrl,CreatedAt,UpdatedAt,IsDeleted
0,1,1,<NA>,[https://static1.sosiva451.com/55412161/f9e154...,2024-12-07 04:23:14.435484+00:00,NaT,False
1,2,2,<NA>,[https://static1.sosiva451.com/31652661/f130ef...,2024-12-07 04:23:14.435484+00:00,NaT,False
2,3,3,<NA>,[https://static1.sosiva451.com/09087751/dc11eb...,2024-12-07 04:23:14.435484+00:00,NaT,False
3,4,4,<NA>,[https://static1.sosiva451.com/42174661/7c7e62...,2024-12-07 04:23:14.435484+00:00,NaT,False
4,5,5,<NA>,[https://static1.sosiva451.com/91888461/b04bf5...,2024-12-07 04:23:14.435484+00:00,NaT,False
...,...,...,...,...,...,...,...
195,196,196,<NA>,[https://static1.sosiva451.com/01961661/ba7600...,2024-12-07 04:23:14.435484+00:00,NaT,False
196,197,197,<NA>,[https://static1.sosiva451.com/87382461/f69b40...,2024-12-07 04:23:14.435484+00:00,NaT,False
197,198,198,<NA>,[https://static1.sosiva451.com/66551161/d68285...,2024-12-07 04:23:14.435484+00:00,NaT,False
198,199,199,<NA>,[https://static1.sosiva451.com/00842661/3f0468...,2024-12-07 04:23:14.435484+00:00,NaT,False
199,200,200,<NA>,[https://static1.sosiva451.com/49791661/ee3b22...,2024-12-07 04:23:14.435484+00:00,NaT,False

### 2.10 Tabla de datos de Requirements

In [ ]:
Requirements = UsersTenantsInfo.copy()

In [ ]:
Requirements = Requirements[['Id', 'IsWorking', 'HasWarranty', 'SalaryId', 'CreatedAt', 'UpdatedAt', 'IsDeleted']]

Create column SalaryId

In [ ]:
Requirements['SalaryId'] = np.random.triangular(left=400000, mode=900000, right=3000000, size=len(Requirements))

Rename column to RangeSalary

In [ ]:
Requirements = Requirements.rename(columns={'SalaryId':'RangeSalary'})

In [ ]:
Requirements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           200 non-null    int64
 1   IsWorking    200 non-null    bool
 2   HasWarranty  200 non-null    bool
 3   RangeSalary  200 non-null    float64
 4   CreatedAt    200 non-null    datetime64[us, UTC]
 5   UpdatedAt    0 non-null      datetime64[ns]
 6   IsDeleted    200 non-null    bool
dtypes: bool(3), datetime64[ns](1), datetime64[us, UTC](1), float64(1), int64(1)
memory usage: 7.0 KB

In [ ]:
Requirements

,Id,IsWorking,HasWarranty,RangeSalary,CreatedAt,UpdatedAt,IsDeleted
0,1,True,True,8.439195e+05,2024-12-07 04:28:17.001324+00:00,NaT,False
1,2,False,True,2.277234e+06,2024-12-07 04:28:17.001324+00:00,NaT,False
2,3,True,False,8.381959e+05,2024-12-07 04:28:17.001324+00:00,NaT,False
3,4,True,True,1.026028e+06,2024-12-07 04:28:17.001324+00:00,NaT,False
4,5,True,True,1.276741e+06,2024-12-07 04:28:17.001324+00:00,NaT,False
...,...,...,...,...,...,...,...
195,196,False,True,6.700099e+05,2024-12-07 04:28:17.001324+00:00,NaT,False
196,197,True,False,1.313212e+06,2024-12-07 04:28:17.001324+00:00,NaT,False
197,198,True,True,8.201038e+05,2024-12-07 04:28:17.001324+00:00,NaT,False
198,199,False,False,1.105009e+06,2024-12-07 04:28:17.001324+00:00,NaT,False
199,200,False,True,1.374313e+06,2024-12-07 04:28:17.001324+00:00,NaT,False

### 2.11 Tabla de datos de Properties

In [ ]:
Properties = df_prop.copy()

In [ ]:
Properties.drop(['IsWorking', 'HasWarranty', 'SalaryId'], axis=1, inplace=True)

Combinando tablas Users Tenants y UserOwner para obtener Ids

In [ ]:
Properties = Properties.merge(UsersTenantsInfo[['Id', 'UserId', ]], on='Id', how='inner')
Properties.insert(2, 'UserId', Properties.pop('UserId'))
Properties.rename(columns={'UserId': 'TenantId'}, inplace=True)

In [ ]:
Properties = Properties.merge(UsersOwnersInfo[['Id', 'UserId']], on='Id', how='inner')
Properties.insert(2, 'UserId', Properties.pop('UserId'))
Properties.rename(columns={'UserId': 'OwnerId'}, inplace=True)

Creando RequirementsId en base a la cantidad de Inquilinos(Requirements)

In [ ]:
Properties.insert(4, 'RequirementId', range(1, len(Requirements) + 1))

Relacionando Country, StateName con sus Ids

In [ ]:
Properties["CountryName"] = Properties["CountryName"].map(Countries.set_index("CountryName")["Id"])
Properties["StateName"] = Properties["StateName"].apply(lambda x: unidecode(x).lower()).map(
    States.set_index(States["StateName"].apply(lambda x: unidecode(x).lower()))["Id"]
)

Relacionando img con sus Ids

In [ ]:
Properties["img"] = Properties["img"].map(df_images.set_index("ImageUrl")["Id"])

In [ ]:
Properties.drop('Id', axis=1, inplace=True)

In [ ]:
Properties.rename(columns={'img': 'Id', 'CountryName': 'CountryId', 'StateName': 'StateId'}, inplace=True)

In [ ]:
Properties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             200 non-null    int64
 1   OwnerId        200 non-null    int64
 2   TenantId       200 non-null    int64
 3   RequirementId  200 non-null    int64
 4   CountryId      200 non-null    int64
 5   StateId        200 non-null    int64
 6   Title          200 non-null    object
 7   Address        200 non-null    object
 8   Price          200 non-null    float64
 9   Environments   200 non-null    int64
 10  Bathrooms      200 non-null    int64
 11  Bedrooms       200 non-null    int64
 12  Seniority      200 non-null    int64
 13  Water          200 non-null    bool
 14  Gas            200 non-null    bool
 15  Surveillance   200 non-null    bool
 16  Electricity    200 non-null    bool
 17  Internet       200 non-null    bool
 18  Pool           200 non-null    bool
 19  Garage         200 non-null    bool
 20  Pets           200 non-null    bool
 21  Grill          200 non-null    bool
 22  Elevator       200 non-null    bool
 23  Terrace        200 non-null    bool
 24  IsHistoric     200 non-null    bool
 25  Description    200 non-null    object
 26  CreatedAt      200 non-null    datetime64[us, UTC]
 27  UpdatedAt      0 non-null      datetime64[ns]
 28  IsDeleted      200 non-null    bool
dtypes: bool(13), datetime64[ns](1), datetime64[us, UTC](1), float64(1), int64(10), object(3)
memory usage: 27.7+ KB

In [ ]:
# Revisar las longitudes máximas de las columnas relevantes
print(Properties['Title'].str.len().max())
print(Properties['Address'].str.len().max())
print(Properties['Description'].str.len().max())

85
85
3633

In [ ]:
#arreglando la descripcion es muy largo solo acepta 100 varchar
Properties['Description'] = Properties['Description'].str.slice(0, 1000)
Properties['Title'] = Properties['Title'].str.slice(0, 50)
Properties['Address'] = Properties['Address'].str.slice(0, 50)

In [ ]:
# Revisar las longitudes máximas de las columnas relevantes
print(Properties['Title'].str.len().max())
print(Properties['Address'].str.len().max())
print(Properties['Description'].str.len().max())

50
50
1000

In [ ]:
Properties

,Id,OwnerId,TenantId,RequirementId,CountryId,StateId,Title,Address,Price,Environments,...,Garage,Pets,Grill,Elevator,Terrace,IsHistoric,Description,CreatedAt,UpdatedAt,IsDeleted
0,1,2,1,1,1,1,Tiscornia 1000,"1043, Avenida Tiscornia, La Calabria",2529025.0,5,...,True,True,True,True,True,True,"Muy buena En pleno bajo de San Isidro, sobre ...",2024-12-07 04:23:14.435484+00:00,NaT,False
1,2,4,3,2,1,1,De Vicenzo Grande La Esperanza 2300,"Golf Club Villa Adelina, Manuel Alberti, Parti...",780000.0,3,...,True,False,True,True,False,True,"Ubicada en la zona de De Vicenzo Grande, esta ...",2024-12-07 04:23:14.435484+00:00,NaT,False
2,3,6,5,3,1,1,Los Cardales Country Club al 100,"Ruta 4, Alto Los Cardales, Partido de Campana",910449.0,4,...,True,False,True,False,False,False,Casa en una plata con vista a Golf.\n living c...,2024-12-07 04:23:14.435484+00:00,NaT,False
3,4,8,7,4,1,1,ESPAÑA 3900,"3968, España, Loma de Roca",1350000.0,3,...,False,True,False,True,True,True,"Alquiler de Casa en Olivos, Vicente López\n V...",2024-12-07 04:23:14.435484+00:00,NaT,False
4,5,10,9,5,1,1,St. Matthews Village,"Barrio Saint Matthew's Village, La Lonja, Part...",2225542.0,5,...,False,False,True,True,True,True,Alquiler de Casa 5 AMBIENTES en St. Mathew´s V...,2024-12-07 04:23:14.435484+00:00,NaT,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,392,391,196,1,1,Manuel Quintana 900,"938, Manuel Quintana, Quilmes Este",600000.0,3,...,False,False,False,True,True,False,En esta oportunidad presentamos esta casa 3 am...,2024-12-07 04:23:14.435484+00:00,NaT,False
196,197,394,393,197,1,1,Haras María Victoria,"Barrio El Aromo, Loma Verde, Partido de Escobar",313599100.0,4,...,True,True,True,True,True,True,Casa en venta en Haras María Victoria.\n Actua...,2024-12-07 04:23:14.435484+00:00,NaT,False
197,198,396,395,198,1,1,San Nicolás 200,"3612, Bogotá, Floresta",1300000.0,5,...,False,True,False,True,True,True,SOLAMENTE PARA FINES COMERCIALES o DEPOSITO.-\...,2024-12-07 04:23:14.435484+00:00,NaT,False
198,199,398,397,199,1,1,Domingo Savio 2880/2,"Domingo Savio, Lomas de San Isidro, San Isidro",1600000.0,6,...,True,True,True,False,True,True,Excelente ubicación: 2 cuadras de Segundo Fern...,2024-12-07 04:23:14.435484+00:00,NaT,False
199,200,400,399,200,1,1,Almafuerte 3900,"Country Banco Provincia, Francisco Álvarez, Pa...",1315093.0,4,...,True,True,True,True,True,True,"[VERONICAM-114]\n\n Hermana casa colonial, muy...",2024-12-07 04:23:14.435484+00:00,NaT,False

### 3 Cargado de datos a una base de datos

TO SUPABASE

In [ ]:
import psycopg2
from sqlalchemy import create_engine

DATABASE_URL = "postgresql+psycopg2://postgres.hgyiqhbbzwqzeblrsged:abcqwe123@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"
engine = create_engine(DATABASE_URL)
print("Conexión exitosa")

Conexión exitosa

In [ ]:
Requirements.to_sql("Requirements", engine, if_exists="append", index=False)

200

In [ ]:
Properties.to_sql("Properties", engine, if_exists="append", index=False)

200

In [ ]:
Images.to_sql("Images", engine, if_exists="append", index=False)

200

In [ ]:
Users.to_sql("Users", engine, if_exists="append", index=False)

400

In [ ]:
UsersOwnersInfo.to_sql("UsersOwnersInfo", engine, if_exists="append", index=False)

200

In [ ]:
UsersTenantsInfo.to_sql("UsersTenantsInfo", engine, if_exists="append", index=False)

200

Conexión a aws postgres database

In [ ]:
import psycopg2
from sqlalchemy import create_engine

usuario = 'Reffindr'
contraseña = 'uRnbS'
host = 'database-igrowker.cd0a0mu0w68g.us-east-2.rds.amazonaws.com'
dbname = 'intake004'
schema = 'ReffindrDBSchema'

DATABASE_URL = f"postgresql+psycopg2://{usuario}:{contraseña}@{host}:5432/{dbname}"
engine_aws = create_engine(DATABASE_URL, connect_args={"options": f"-csearch_path={schema}"})

print("Conexión exitosa")

Conexión exitosa

Eliminando los Ids de las tablas para evitar errores

In [ ]:
Requirements1 = Requirements.drop('Id', axis=1)

In [ ]:
Requirements1.to_sql("Requirements", engine_aws, schema=schema, if_exists="append", index=False)

200

In [ ]:
Properties1 = Properties.drop('Id', axis=1)

In [ ]:
Properties1.to_sql("Properties", engine_aws, schema=schema, if_exists="append", index=False)

200

In [ ]:
Images1 = Images.drop('Id', axis=1)

In [ ]:
Images1.to_sql("Images", engine_aws, schema=schema, if_exists="append", index=False)

In [ ]:
Users1 = Users.drop('Id', axis=1)

In [ ]:
Users1.to_sql("Users", engine_aws, schema=schema, if_exists="append", index=False)

400

In [ ]:
UsersOwnersInfo1 = UsersOwnersInfo.drop('Id', axis=1)

In [ ]:
UsersOwnersInfo1.to_sql("UsersOwnersInfo", engine_aws, schema=schema, if_exists="append", index=False)

200

In [ ]:
UsersTenantsInfo1 = UsersTenantsInfo.drop('Id', axis=1)

In [ ]:
UsersTenantsInfo1.to_sql("UsersTenantsInfo", engine_aws, schema=schema, if_exists="append", index=False)

200